@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00224D;
    --foreground: #010101;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* :root {
  --sulphur-u: #FF204E; 
  --neon-pink: #A0153E;
  --neon-green: #A0153E;
  --font-primary: #F0F0F0;
  --font-secondary: #969696;
} */

:root {
  --sulphur-yellow: #FF204E; 
  --sap-green: #A0153E;
  --font-primary: #F0F0F0;
  --font-secondary: #969696;
}

body {
  background-color: black;
  color: white;
}
